<main>
  <section class='cats'>
    <ul>
      {{#if cats}}
        {{#each cats}}
          {{>cat}}
        {{/each}}
      {{else}}
        <h3>No cats yet!!!</h3>
      {{/if}}
    </ul>
  </section>
</main>